<table class = "table table_bordered">
  <thead>
    <tr>
    	<th>Date/Month/Year</th>
    	<th>Catalog1</th>
    	<th>Catalog2</th>
    	<th>Catalog3</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  	</tr>
  	<tr>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  	</tr>
  	<tr>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  		<td><input type="text" class="form-control" placeholder="Text input"></td>
  	</tr>
  </tbody>
</table>